@import "tailwindcss";

@theme {
  --color-primary: #0055A5;
  --color-secondary: #00A388;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-text-dark: #1E293B;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-accent: #F1F5F9;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
